<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>



    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <header class="mobile-header site-header">
          <h1 class="site-title">{{ site.title }}</h1>
          <p>{{ site.subtitle }}</p>
        </header>
        <aside id="sidebar">
          {% include navbar.html %}
        </aside>
        <div class="main-content">
          {{ content }}
        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
